---
import type { ExperienceProps as Props } from "@/data/experience";

import Card from "@/components/ui/card.astro";
import Skill from "@/components/ui/skill.astro";

import ArrowTr from "@/components/icons/arrow-tr.astro";

const {
  timePeriod,
  logo,
  badge,
  title,
  jobType,
  company,
  companyUrl,
  bullets,
  skills,
} = Astro.props;
---

<Card>
  <header
    class="z-10 mb-2 mt-0 text-xs font-semibold uppercase tracking-wide text-zinc-400/80 sm:col-span-2"
    aria-label={timePeriod}
  >
    {timePeriod}
  </header>
  <div class="z-10 sm:col-span-6">
    <div class="">
      <h3
        class="-mt-1 flex flex-wrap items-baseline text-base font-medium text-foreground"
      >
        {
          companyUrl ? (
            <a
              class="group/link inline-block items-baseline text-wrap hover:text-primary motion-reduce:transition-none"
              href={companyUrl}
              target="_blank"
              rel="noreferrer noopener"
              aria-label={`${company} (opens in a new tab)`}
            >
              {company}
              <ArrowTr
                class="inline-block size-[14px] transition-transform group-hover/link:-translate-y-0.5 group-hover/link:translate-x-0.5 motion-reduce:transition-none"
                aria-hidden="true"
              />
            </a>
          ) : (
            <span class="inline-block">{company}</span>
          )
        }

        {
          badge && (
            <span class="ml-3 inline-flex h-[18px] -translate-y-0.5 items-center justify-center rounded-full border bg-transparent bg-gradient-to-b from-muted to-transparent px-4 pb-0.5 text-xs font-normal leading-none text-muted-foreground lg:group-hover:border-zinc-700 lg:group-hover:bg-background">
              {badge}
            </span>
          )
        }
      </h3>
      <h4 class="text-wrap text-sm font-medium text-zinc-400/80">
        {title}
        {jobType && <span class="inline-block"> {jobType}</span>}
      </h4>
    </div>
    <ul
      class="mt-3 list-disc space-y-1 pl-4 text-sm leading-snug text-zinc-300/90"
    >
      {
        bullets.map((bullet) => (
          <li class="list-item items-start gap-2">{bullet}</li>
        ))
      }
    </ul>
    {
      skills && (
        <ul
          class="mt-4 flex flex-wrap gap-x-1.5 gap-y-2"
          aria-label="Technologies used"
        >
          {skills.map((skill) => (
            <li>
              <Skill
                label={skill}
                class="border-primary/50 bg-transparent lg:group-hover:bg-background lg:group-hover:shadow-md lg:group-hover:shadow-primary/20"
              />
            </li>
          ))}
        </ul>
      )
    }
  </div>
</Card>
