---
import { Image } from "astro:assets";

import Card from "../card.astro";
import Skill from "../skill.astro";
import Link from "../ui/link.astro";

import ArrowTr from "../icons/arrow-tr.astro";
import Check from "../icons/check.astro";

export interface Props {
  timePeriod: string;
  logo?: ImageMetadata;
  badge?: string;
  title: string;
  company: string;
  companyUrl: string;
  bullets: string[];
  skills: string[];
}
const { timePeriod, logo, badge, title, company, companyUrl, bullets, skills } =
  Astro.props;
---

<Card>
  <header
    class="z-10 mb-2 mt-0.5 text-xs font-semibold uppercase tracking-wide text-zinc-500 sm:col-span-2"
    aria-label={timePeriod}
  >
    {timePeriod}
  </header>
  <div class="z-10 sm:col-span-6">
    <h3 class="text-base font-medium leading-tight text-foreground flex items-center mb-3">
      <a
        class="group/link inline-flex items-baseline motion-reduce:transition-none hover:underline"
        href={companyUrl}
        target="_blank"
        rel="noreferrer noopener"
        aria-label={`${company} (opens in a new tab)`}
      >
        {`${title} · ${company}`}
        <ArrowTr
          class="ml-2 size-[14px] translate-y-0.5 transition-transform group-hover/link:-translate-y-0 group-hover/link:translate-x-0.5 motion-reduce:transition-none"
          aria-hidden="true"
        />
      </a>

      {badge && <span class="ml-3 text-xs bg-transparent bg-gradient-to-b from-muted to-transparent border text-muted-foreground font-normal rounded-full px-4 h-5 inline-flex items-center">{badge}</span>}
    </h3>
    <ul
      class="list-disc space-y-1 pl-4 text-sm leading-snug text-muted-foreground mb-2"
    >
      {
        bullets.map((bullet) => (
          <li class="list-item items-start gap-2">{bullet}</li>
        ))
      }
    </ul>
    <ul class="flex flex-wrap" aria-label="Technologies used">
      {
        skills.map((skill) => (
          <li class="mr-1.5 mt-2">
            <Skill
              label={skill}
              class="transition lg:group-hover:border-primary/50 lg:group-hover:text-indigo-400 lg:group-hover:shadow-md lg:group-hover:shadow-primary/20"
            />
          </li>
        ))
      }
    </ul>
  </div>
</Card>
