---
import type { ExperienceProps as Props } from "@/data/experience";
import { Image } from "astro:assets";

import Card from "../card.astro";
import Skill from "../skill.astro";

import ArrowTr from "../icons/arrow-tr.astro";

const { timePeriod, logo, badge, title, company, companyUrl, bullets, skills } =
  Astro.props;
---

<Card>
  <header
    class="z-10 mb-2 mt-0.5 text-xs font-semibold uppercase tracking-wide text-zinc-500 sm:col-span-2"
    aria-label={timePeriod}
  >
    {timePeriod}
    {
      badge && (
        <span class="ml-3 inline-flex h-5 items-center rounded-full border bg-transparent bg-gradient-to-b from-muted to-transparent px-4 pb-0.5 text-xs font-normal lowercase leading-none text-muted-foreground sm:hidden">
          {badge}
        </span>
      )
    }
  </header>
  <div class="z-10 sm:col-span-6">
    <h3
      class="mb-2 flex items-center text-base font-medium leading-tight text-foreground"
    >
      <a
        class="group/link m-0 inline-block items-baseline text-wrap hover:text-primary motion-reduce:transition-none"
        href={companyUrl}
        target="_blank"
        rel="noreferrer noopener"
        aria-label={`${company} (opens in a new tab)`}
      >
        <span class="">
          {`${title} ·`}
        </span>
        <span class="inline-block">
          {`${company}`}
          <ArrowTr
            class="inline-block size-[14px] transition-transform group-hover/link:-translate-y-0.5 group-hover/link:translate-x-0.5 motion-reduce:transition-none"
            aria-hidden="true"
          />
        </span>
      </a>

      {
        badge && (
          <span class="ml-3 hidden h-5 items-center self-start rounded-full border bg-transparent bg-gradient-to-b from-muted to-transparent px-4 pb-0.5 text-xs font-normal leading-none text-muted-foreground sm:inline-flex">
            {badge}
          </span>
        )
      }
    </h3>
    <ul
      class="mb-2 list-disc space-y-1 pl-4 text-sm leading-snug text-muted-foreground"
    >
      {
        bullets.map((bullet) => (
          <li class="list-item items-start gap-2">{bullet}</li>
        ))
      }
    </ul>
    {
      skills && (
        <ul class="flex flex-wrap" aria-label="Technologies used">
          {skills.map((skill) => (
            <li class="mr-1.5 mt-2">
              <Skill
                label={skill}
                class="lg:group-hover:border-primary/50 lg:group-hover:bg-background lg:group-hover:shadow-md lg:group-hover:shadow-primary/20"
              />
            </li>
          ))}
        </ul>
      )
    }
  </div>
</Card>
