---
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";

import Card from "../card.astro";
import Skill from "../skill.astro";
import Button from "../ui/button.astro";
import Link from "../ui/link.astro";

import Source from "../icons/source.astro";
import SquareTr from "../icons/square-tr.astro";
import Github from "../icons/github.astro";
import Planet from "../ui/planet.astro";
import Live from "../icons/live.astro";
import ArrowTr from "../icons/arrow-tr.astro";

export interface ProjectImage {
  label: string;
  image: ImageMetadata;
  compare?: boolean;
  compareImages?: {
    labelOne: string;
    imageOne: ImageMetadata;
    labelTwo: string;
    imageTwo: ImageMetadata;
  };
}

export interface Props {
  title: string;
  date: string;
  subtitle?: string;
  description?: string;
  features?: string[];
  thumbnail?: ImageMetadata;
  thumbnailWide?: ImageMetadata;
  images?: ProjectImage[];
  skills?: {
    name: string;
    description?: string;
  }[];
  actions?: {
    demo?: string; // hosted url
    source?: string; // github repo url
    details?: string; // project details page
  };
}

const {
  title,
  date,
  subtitle,
  description,
  features,
  thumbnail,
  thumbnailWide,
  images,
  skills,
  actions,
} = Astro.props;
---

<Card class="">
  <div
    class="relative z-10 mb-2 mt-1 hidden h-max overflow-hidden rounded-sm border group-hover:ring-2 group-hover:ring-muted-foreground sm:col-span-2 sm:block"
  >
    <Image
      src={thumbnail!}
      alt={`${title} screenshot`}
      width={1600}
      height={1200}
      class="h-auto w-full rounded-sm object-cover"
      draggable="false"
    />
  </div>

  <div class="z-10 sm:col-span-6">
    <div class="text-base font-medium leading-tight text-foreground">
      <h3>
        {
          actions?.demo ? (
            <a
              class="group/link inline-flex items-baseline hover:underline motion-reduce:transition-none"
              href={actions.source}
              target="_blank"
              rel="noreferrer noopener"
              aria-label={`${title} live demo (opens in a new tab)`}
            >
              {title}
              <ArrowTr
                class="ml-2 size-[14px] translate-y-0.5 transition-transform group-hover/link:-translate-y-0 group-hover/link:translate-x-0.5 motion-reduce:transition-none"
                aria-hidden="true"
              />
            </a>
          ) : (
            title
          )
        }
      </h3>
      <!-- <p class="text-zinc-500">{subtitle}</p> -->
    </div>

    {
      description && (
        <p class="mt-3 text-sm text-muted-foreground">{description}</p>
      )
    }

    {
      features && features.length > 0 && (
        <ul class="mt-3 space-y-1.5 text-sm leading-snug text-muted-foreground">
          {features.slice(0, 6).map((feature) => (
            <li class="flex items-start gap-2">
              {/* <Check class="size-4 flex-shrink-0 text-primary/70 group-hover:text-primary transition duration-200" /> */}
              <span aria-hidden="true" class="leading-none">
                👉
              </span>
              {feature}
            </li>
          ))}
        </ul>
      )
    }

    {
      skills && skills.length > 0 && (
        <ul class="mt-3 flex flex-wrap" aria-label="Technologies used">
          {skills.map((skill) => (
            <li class="mr-1.5 mt-2">
              <Skill
                label={skill.name}
                class="transition duration-100 lg:group-hover:border-primary/50 lg:group-hover:text-indigo-400 lg:group-hover:shadow-md lg:group-hover:shadow-primary/10"
              />
            </li>
          ))}
        </ul>
      )
    }

    {
      actions && (
        <ul class="group/actions mt-5 flex w-max flex-wrap gap-2 text-foreground">
          {actions.source && (
            <li>
              <Planet
                as={"a"}
                href={actions.source}
                class={
                  "size-10 transition duration-100 hover:!opacity-100 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring group-hover/actions:opacity-50 motion-reduce:transition-none"
                }
                target="_blank"
                rel="noreferrer noopener"
                aria-label={`${title} source code on Github (opens in a new tab)`}
                title={"Github"}
              >
                <Github class="size-5" />
              </Planet>
            </li>
          )}

          {actions.demo && (
            <li>
              <Planet
                as={"a"}
                href={actions.demo}
                class={
                  "size-10 transition duration-100 hover:!opacity-100 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring group-hover/actions:opacity-50 motion-reduce:transition-none"
                }
                target="_blank"
                rel="noreferrer noopener"
                aria-label={`${title} live demo (opens in a new tab)`}
                title={"Live Demo"}
              >
                <Live class="size-5" />
              </Planet>
            </li>
          )}

          {actions.details && (
            <li>
              <Planet
                as={"a"}
                href={actions.details}
                class={
                  "size-10 transition duration-100 hover:!opacity-100 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring group-hover/actions:opacity-50 motion-reduce:transition-none"
                }
                aria-label={`${title} project details page`}
                title={"Details"}
                data-astro-prefetch
              >
                <SquareTr class="size-5" />
              </Planet>
            </li>
          )}
        </ul>
      )
    }
  </div>
</Card>
