---
import type { ProjectProps as Props } from "@/data/projects";
import { Image } from "astro:assets";
import { cn } from "@/lib/utils";

import Card from "@/components/ui/card.astro";
import Skill from "@/components/ui/skill.astro";
import Button, { buttonVariants } from "@/components/ui/button.astro";

import Github from "@/components/icons/github.astro";
import Live from "@/components/icons/live.astro";
import ArrowTr from "@/components/icons/arrow-tr.astro";
import ArrowR from "@/components/icons/arrow-r.astro";

const {
  title,
  date,
  subtitle,
  description,
  features,
  thumbnail,
  thumbnailWide,
  images,
  skills,
  actions,
} = Astro.props;

const lightHouseMetrics = [
  "Performance",
  "Accessibility",
  "Best Practices",
  "SEO",
];
---

<Card class="">
  <div
    class="relative z-10 mt-0 hidden aspect-4/3 h-max overflow-hidden rounded-sm border-transparent ring-1 ring-accent ring-offset-1 ring-offset-background transition duration-100 motion-reduce:transition-none sm:col-span-2 sm:block lg:group-hover:ring-zinc-600"
  >
    <Image
      src={thumbnail!}
      alt={`${title} home page screenshot`}
      width={160}
      height={120}
      class="h-auto w-full rounded-sm object-cover object-center"
      draggable="false"
    />
  </div>

  <div class="z-10 sm:col-span-6">
    <div class="text-base font-medium text-foreground">
      <h3 class="-mt-1">
        {
          actions?.demo ? (
            <a
              class="group/link inline-block items-baseline hover:text-primary motion-reduce:transition-none"
              href={actions.demo}
              target="_blank"
              rel="noreferrer noopener"
              aria-label={`${title} live demo (opens in a new tab)`}
            >
              <span class="inline-block">
                {title}
                <ArrowTr
                  class="inline-block size-[14px] transition-transform group-hover/link:-translate-y-0.5 group-hover/link:translate-x-0.5 motion-reduce:transition-none"
                  aria-hidden="true"
                />
              </span>
            </a>
          ) : (
            title
          )
        }
      </h3>
    </div>

    {
      description && (
        <p class="mt-2 text-sm leading-snug text-zinc-300/90">{description}</p>
      )
    }

    {
      title === "Portfolio V2" && (
        <ul
          class="mt-5 flex flex-wrap gap-x-1.5 gap-y-2"
          aria-label="Lighthouse performance metrics"
        >
          {lightHouseMetrics.map((metric) => (
            <li>
              <Skill
                class="relative border-emerald-500/25 bg-gradient-to-b from-emerald-500/15 to-emerald-500/0 pl-8 pr-3 lg:group-hover:border-emerald-500/40 lg:group-hover:bg-background lg:group-hover:shadow-md lg:group-hover:shadow-emerald-500/15"
                aria-label={`100 Lighthouse ${metric} score`}
              >
                <span class="absolute left-0 top-[50%] inline-flex h-6 w-6 shrink-0 -translate-y-1/2 rounded-full border border-green-500 bg-emerald-950 text-green-500">
                  <span class="absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%] text-nowrap text-[9px] leading-none">
                    100
                  </span>
                </span>

                <p class="text-sm text-green-50/70">{metric}</p>
              </Skill>
            </li>
          ))}
        </ul>
      )
    }

    {
      skills && skills.length > 0 && (
        <ul
          class="mt-5 flex flex-wrap gap-x-1.5 gap-y-2"
          aria-label="Technologies used"
        >
          {skills.map((skill) => (
            <li>
              <Skill class="lg:group-hover:border-primary/40 lg:group-hover:shadow-md lg:group-hover:shadow-primary/20">
                {skill.name}
              </Skill>
            </li>
          ))}
        </ul>
      )
    }

    {
      actions && (
        <ul class="group/actions mt-5 flex w-max flex-wrap gap-2 text-foreground">
          {actions.source && (
            <li>
              <Button
                as={"a"}
                href={actions.source}
                class={
                  "bg-background hover:!opacity-100 group-hover/actions:opacity-50 lg:group-hover:border-zinc-400/30 lg:group-hover:shadow lg:group-hover:shadow-zinc-400/20"
                }
                variant={"outline"}
                size={"iconSm"}
                gradient={"zinc"}
                target="_blank"
                rel="noreferrer noopener"
                aria-label={`${title} source code on Github (opens in a new tab)`}
                title={"Github"}
              >
                <Github class="size-[18px]" />
              </Button>
            </li>
          )}

          {actions.demo && (
            <li>
              <Button
                as={"a"}
                href={actions.demo}
                class={
                  "bg-background hover:!opacity-100 group-hover/actions:opacity-50 lg:group-hover:border-zinc-400/30 lg:group-hover:shadow lg:group-hover:shadow-zinc-400/20"
                }
                variant={"outline"}
                size={"iconSm"}
                gradient={"zinc"}
                target="_blank"
                rel="noreferrer noopener"
                aria-label={`${title} live demo(opens in a new tab)`}
                title={"Live Demo"}
              >
                <Live class="size-[18px]" />
              </Button>
            </li>
          )}

          {actions.details && (
            <li>
              <a
                href={actions.details}
                class={cn(
                  buttonVariants({
                    variant: "outline",
                    size: "iconSm",
                    gradient: "zinc",
                  }),
                  "bg-background hover:!opacity-100 group-hover/actions:opacity-50 lg:group-hover:border-zinc-400/30 lg:group-hover:shadow lg:group-hover:shadow-zinc-400/20",
                )}
                aria-label={`${title} project details page`}
                title={"More Details"}
                data-astro-prefetch
              >
                <span
                  class={cn(
                    "absolute -top-px left-[10%] h-px w-[80%] bg-gradient-to-r opacity-0 transition-opacity duration-300 group-hover/button:opacity-100 motion-reduce:transition-none",
                    "from-zinc-400/0 via-zinc-400 to-zinc-400/0",
                  )}
                />
                <ArrowR class="size-[18px]" />
                <span
                  class={cn(
                    "absolute -bottom-px left-[10%] h-px w-[80%] bg-gradient-to-r opacity-100 transition-opacity duration-300 group-hover/button:opacity-0 motion-reduce:transition-none",
                    "from-zinc-400/0 via-zinc-400 to-zinc-400/0",
                  )}
                />
              </a>
            </li>
          )}
        </ul>
      )
    }
    <div
      class="mt-5 block aspect-16/9 h-auto w-full max-w-56 overflow-hidden rounded-sm ring-1 ring-accent ring-offset-1 ring-offset-background sm:hidden"
    >
      <Image
        src={thumbnailWide}
        alt={`${title} home page screenshot`}
        width={224}
        height={126}
        class="h-auto w-full rounded-sm object-cover object-center"
        draggable="false"
      />
    </div>
  </div>
</Card>
