---
import type { ProjectProps as Props } from "@/data/projects";
import { Image } from "astro:assets";
import { cn } from "@/lib/utils";

import Card from "@/components/ui/card.astro";
import Skill from "@/components/ui/skill.astro";
import Button, { buttonVariants } from "@/components/ui/button.astro";

import Github from "@/components/icons/github.astro";
import Live from "@/components/icons/live.astro";
import ArrowTr from "@/components/icons/arrow-tr.astro";
import ArrowR from "@/components/icons/arrow-r.astro";

const {
  title,
  date,
  subtitle,
  description,
  features,
  thumbnail,
  thumbnailWide,
  images,
  skills,
  actions,
} = Astro.props;
---

<Card class="">
  <div
    class="relative z-10 mb-2 mt-1 hidden h-max overflow-hidden rounded-sm border border-border transition duration-100 motion-reduce:transition-none sm:col-span-2 sm:block lg:group-hover:border-zinc-600"
  >
    <Image
      src={thumbnail!}
      alt={`${title} screenshot`}
      width={1600}
      height={1200}
      class="h-auto w-full rounded-sm object-cover"
      draggable="false"
    />
  </div>

  <div class="z-10 sm:col-span-6">
    <div class="text-base font-medium leading-tight text-foreground">
      <h3>
        {
          actions?.demo ? (
            <a
              class="group/link inline-block items-baseline hover:text-primary motion-reduce:transition-none"
              href={actions.demo}
              target="_blank"
              rel="noreferrer noopener"
              aria-label={`${title} live demo (opens in a new tab)`}
            >
              <span class="inline-block">
                {title}
                <ArrowTr
                  class="inline-block size-[14px] transition-transform group-hover/link:-translate-y-0.5 group-hover/link:translate-x-0.5 motion-reduce:transition-none"
                  aria-hidden="true"
                />
              </span>
            </a>
          ) : (
            title
          )
        }
      </h3>
    </div>

    {description && <p class="mt-2 text-sm text-zinc-300/90">{description}</p>}

    {
      skills && skills.length > 0 && (
        <ul class="mt-3 flex flex-wrap" aria-label="Technologies used">
          {skills.map((skill) => (
            <li class="mr-1.5 mt-2">
              <Skill
                label={skill.name}
                class="border-primary/50 bg-transparent lg:group-hover:bg-background lg:group-hover:shadow-md lg:group-hover:shadow-primary/20"
              />
            </li>
          ))}
        </ul>
      )
    }

    {
      actions && (
        <ul class="group/actions mt-5 flex w-max flex-wrap gap-2 text-foreground">
          {actions.source && (
            <li>
              <Button
                as={"a"}
                href={actions.source}
                class={
                  "bg-background hover:!opacity-100 group-hover/actions:opacity-50 lg:group-hover:border-zinc-400/30 lg:group-hover:shadow lg:group-hover:shadow-zinc-400/20"
                }
                variant={"outline"}
                size={"iconSm"}
                gradient={"zinc"}
                target="_blank"
                rel="noreferrer noopener"
                aria-label={`${title} source code on Github (opens in a new tab)`}
                title={"Github"}
              >
                <Github class="size-[18px]" />
              </Button>
            </li>
          )}

          {actions.demo && (
            <li>
              <Button
                as={"a"}
                href={actions.demo}
                class={
                  "bg-background hover:!opacity-100 group-hover/actions:opacity-50 lg:group-hover:border-zinc-400/30 lg:group-hover:shadow lg:group-hover:shadow-zinc-400/20"
                }
                variant={"outline"}
                size={"iconSm"}
                gradient={"zinc"}
                target="_blank"
                rel="noreferrer noopener"
                aria-label={`${title} live demo(opens in a new tab)`}
                title={"Live Demo"}
              >
                <Live class="size-[18px]" />
              </Button>
            </li>
          )}

          {actions.details && (
            <li>
              <a
                href={actions.details}
                class={cn(
                  buttonVariants({
                    variant: "outline",
                    size: "iconSm",
                    gradient: "zinc",
                  }),
                  "bg-background hover:!opacity-100 group-hover/actions:opacity-50 lg:group-hover:border-zinc-400/30 lg:group-hover:shadow lg:group-hover:shadow-zinc-400/20",
                )}
                aria-label={`${title} project details page`}
                title={"More Details"}
                data-astro-prefetch
              >
                <span
                  class={cn(
                    "absolute -top-px left-[20%] h-px w-[60%] bg-gradient-to-r opacity-0 transition-opacity duration-300 group-hover/button:opacity-100 motion-reduce:transition-none",
                    "from-zinc-400/10 via-zinc-400 to-zinc-400/0",
                  )}
                />
                <ArrowR class="size-[18px]" />
                <span
                  class={cn(
                    "absolute -bottom-px left-[20%] h-px w-[60%] bg-gradient-to-r opacity-100 transition-opacity duration-300 group-hover/button:opacity-0 motion-reduce:transition-none",
                    "from-zinc-400/10 via-zinc-400 to-zinc-400/0",
                  )}
                />
              </a>
            </li>
          )}
        </ul>
      )
    }
    <div
      class="mt-5 block aspect-16/9 h-auto w-full max-w-56 overflow-hidden rounded-sm border sm:hidden lg:group-hover:border-zinc-600"
    >
      <Image
        src={thumbnailWide}
        alt={`${title} screenshot`}
        width={1920}
        height={1080}
        class="h-auto w-full rounded-sm object-cover"
        draggable="false"
      />
    </div>
  </div>
</Card>
