---
import Check from "./icons/check.astro";
import Skill from "./skill.astro";

export interface Props {
  timePeriod: string;
  logo?: string;
  badge?: string;
  title: string;
  company: string;
  companyUrl: string;
  bullets: string[];
  skills: string[];
}
const { timePeriod, logo, badge, title, company, companyUrl, bullets, skills } =
  Astro.props;
---

<li>
  <div
    class="group relative grid transition-all duration-200 sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50 rounded-md p-4 lg:p-6 hover:bg-zinc-900/30 hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] hover:backdrop-blur-md hover:drop-shadow-lg"
  >
    <span
      class="absolute -top-0 left-[0.5rem] h-px w-[calc(100%-1rem)] bg-gradient-to-r from-blue-500/10 via-indigo-500 to-blue-500/10 opacity-0 transition-opacity duration-400 group-hover:opacity-100"
    ></span>
    <header
      class="z-20 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-zinc-500 sm:col-span-2"
      aria-label={timePeriod}
    >
      {timePeriod}
    </header>
    <div class="z-10 sm:col-span-6 space-y-4">
      <h3 class="font-medium leading-snug text-foreground">
        <div>
          <a
            class="inline-flex items-baseline font-medium leading-tight hover:text-primary focus-visible:text-primary group/link text-base"
            href="https://www.klaviyo.com"
            target="_blank"
            rel="noreferrer noopener"
            aria-label={`${title} at ${company} (opens in a new tab)`}
          >
            <!-- <span
              class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
            ></span> -->
            <span>
              {title} ·
              <span class="inline-block">{company}</span>
            </span>
          </a>
        </div>
      </h3>
      <ul class="text-sm leading-snug text-muted-foreground space-y-1.5">
        {
          bullets.map((bullet) => (
            <li class="flex items-start gap-2">
              <Check class="size-4 flex-shrink-0 text-primary/70 group-hover:text-primary transition duration-200" />
              {bullet}
            </li>
          ))
        }
      </ul>
      <ul class="flex flex-wrap" aria-label="Technologies used">
        {
          skills.map((skill) => (
            <li class="mr-1.5 mt-2">
              <Skill
                label={skill}
                class=" lg:group-hover:border-primary lg:group-hover:shadow-md lg:group-hover:shadow-primary/20  lg:group-hover:text-indigo-400 transition duration-200"
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</li>
