---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import { PROJECTS } from "@/data/projects";
import { Image } from "astro:assets";
import { ImageTabs } from "@/components/project-details/image-tabs";
import Button from "@/components/ui/button.astro";
import Source from "@/components/icons/source.astro";
import Github from "@/components/icons/github.astro";
import Live from "@/components/icons/live.astro";
// import {
//   Accordion,
//   AccordionContent,
//   AccordionItem,
//   AccordionTrigger,
// } from "@/components/client/ui/accordion";
import { ProjectAccordion } from "@/components/project-details/project-accordion";
import Skill from "@/components/skill.astro";
import TechStack from "@/components/project-details/tech-stack.astro";
import AccordionItem from "@/components/project-details/accordion-item.astro";
import PageTitle from "@/components/page-title.astro";
import ArrowL from "@/components/icons/arrow-l.astro";

const {
  title,
  description,
  thumbnail,
  images,
  skills,
  features,
  actions,
} = PROJECTS[0];
---

<Layout title={`${title} | Tim Machnacki`}>
  <main
    class="page-container relative w-full lg:grid lg:grid-cols-10 lg:gap-12"
  >
    <!-- left column -->
    <section class="w-full lg:col-span-3 lg:py-24">
      <div class="mb-16 scroll-mt-16">
        <a
          href="/"
          class="group inline-flex w-max items-center gap-2 text-base text-muted-foreground hover:text-foreground hover:underline"
          data-astro-prefetch
        >
          <ArrowL
            class="size-4 transition-transform duration-100 group-hover:-translate-x-1 motion-reduce:transition-none"
          />
          Tim Machnacki
        </a>
        <PageTitle class="mb-2">{title}</PageTitle>
        <p class="hidden text-base text-muted-foreground md:block">
          {description}
        </p>

        {
          actions && (
            <ul class="flex items-center gap-2 mt-6">
              {actions?.source && (
                <li>
                  <Button
                    as={"a"}
                    variant={"outline"}
                    class={
                      "group/action relative w-full rounded-full transition"
                    }
                    href={actions?.source}
                    target={"_blank"}
                  >
                    <Github class={"mr-2 size-4"} />
                    Source
                  </Button>
                </li>
              )}
              {actions?.demo && (
                <li>
                  <Button
                    as={"a"}
                    variant={"outline"}
                    class={
                      "group/action relative w-full rounded-full transition"
                    }
                    href={actions?.demo}
                    target={"_blank"}
                  >
                    <Live class={"mr-2 size-4"} />
                    Demo
                  </Button>
                </li>
              )}
            </ul>
          )
        }

        <ProjectAccordion
          accordionClassName="mt-6"
          features={features}
          client:load
        >
          <TechStack skills={skills} slot={"tech"} />
        </ProjectAccordion>

        <!-- <div class="relative z-10 w-full mt-6">
          <AccordionItem
            id="accordion-item-1"
            triggerId="accordion-trigger-1"
            contentId="accordion-content-1"
          >
            <span slot="trigger">Tech Stack</span>
            <TechStack skills={skills} slot={"content"} />
          </AccordionItem>
        </div> -->
      </div>
    </section>

    <!-- right column -->
    <section class="w-full lg:col-span-7">
      <!-- <h1 class="lg:hidden text-2xl">{title}</h1> -->
      <!-- <p class="lg:hidden text-zinc-500 text-base">{description}</p> -->

      <div class="w-full md:sticky md:top-0 lg:py-24">
        <!-- tabs -->
        <ImageTabs
          projectTitle={title}
          projectUrl={actions?.demo}
          images={images!}
          className={"relative"}
          client:load
        />
      </div>
    </section>
  </main>
</Layout>
