---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import { PROJECTS } from "@/data/projects";
import { Image } from "astro:assets";
import { ImageTabs } from "@/components/client/image-tabs";
import Button from "@/components/ui/button.astro";
import Source from "@/components/icons/source.astro";
import Github from "@/components/icons/github.astro";
import Globe from "@/components/icons/globe.astro";
// import {
//   Accordion,
//   AccordionContent,
//   AccordionItem,
//   AccordionTrigger,
// } from "@/components/client/ui/accordion";
import { ProjectAccordion } from "@/components/client/project-accordion";
import Skill from "@/components/skill.astro";
import TechStack from "@/components/project-details/tech-stack.astro";
import AccordionItem from "@/components/ui/accordion-item.astro";

const {
  title,
  subtitle,
  description,
  features,
  thumbnail,
  images,
  skills,
  actions,
} = PROJECTS[0];
---

<Layout title={`${title} | Tim Machnacki`}>
  <!-- back -->
  <a href="/" class="absolute left-0 top-0">Back</a>

  <main class="container w-full md:grid md:grid-cols-10 md:gap-12">
    <!-- left column -->
    <section class="w-full md:col-span-7">
      <!-- <h1 class="lg:hidden text-2xl">{title}</h1> -->
      <!-- <p class="lg:hidden text-zinc-500 text-base">{description}</p> -->

      <div class="w-full md:sticky md:top-0 lg:py-24">
        <!-- tabs -->
        <ImageTabs
          projectTitle={title}
          projectUrl={actions?.demo}
          images={images!}
          className={"relative"}
          client:load
        />
      </div>
    </section>

    <!-- right column -->
    <section class="w-full md:col-span-3 lg:py-24">
      <div class="mb-16 scroll-mt-16">
        <h1 class="hidden text-4xl font-bold md:block">{title}</h1>
        <p class="hidden text-lg text-zinc-500 md:block">{description}</p>

        {
          actions?.source && (
            <Button
              as={"a"}
              variant={"outline"}
              class={"group/action relative w-full rounded-full transition"}
              href={actions?.source}
              target={"_blank"}
            >
              <Github class={"mr-2 size-4"} />
              Source
            </Button>
          )
        }
        {
          actions?.demo && (
            <Button
              as={"a"}
              variant={"outline"}
              class={"group/action relative w-full rounded-full transition"}
              href={actions?.demo}
              target={"_blank"}
            >
              <Globe class={"mr-2 size-4"} />
              Demo
            </Button>
          )
        }

        <!-- <ProjectAccordion>
          <TechStack skills={skills} slot={"tech-stack"} />
        </ProjectAccordion> -->
        <div class="relative z-10 w-full">
          <AccordionItem
            id="accordion-item-1"
            triggerId="accordion-trigger-1"
            contentId="accordion-content-1"
          >
            <span slot="trigger">Tech Stack</span>
            <TechStack skills={skills} slot={"content"} />
          </AccordionItem>
        </div>
      </div>
    </section>
  </main>
</Layout>

<!-- <script></script> -->
