---
import { Image } from "astro:assets";
import { cn } from "@/lib/utils";
import type { ProjectSkill } from "@/data/projects";
import Skill from "../skill.astro";
import Planet from "../ui/planet.astro";

// icons
import Typescript from "@/components/icons/tech/typescript.astro";
import React from "@/components/icons/tech/react.astro";
import Tailwind from "@/components/icons/tech/tailwind.astro";
import NextJS from "@/components/icons/tech/next.astro";
import Shadcn from "@/components/icons/tech/shadcn.astro";
import Convex from "@/components/icons/tech/convex.astro";
import Stripe from "@/components/icons/tech/stripe.png";
import Clerk from "@/components/icons/tech/clerk.png";
import AI from "@/components/icons/tech/ai.astro";
import Vercel from "@/components/icons/tech/vercel.astro";

interface Props {
  skills?: ProjectSkill[];
}

const { skills, ...props } = Astro.props;
---

<ul class="">
  {
    skills &&
      skills.map((skill) => (
        <li class="flex items-start justify-start gap-2 border-b-[1px] border-border/50 py-3 first:pt-0 last:border-b-0 last:pb-0">
          {skill.name === "TypeScript" && (
            <Planet class="size-10 from-blue-500">
              <Typescript class="size-5" />
            </Planet>
          )}
          {skill.name === "React" && (
            <Planet class="size-10 from-cyan-600">
              <React class="size-5" />
            </Planet>
          )}
          {skill.name === "NextJS" && (
            <Planet class="size-10 from-zinc-400">
              <NextJS class="size-5" />
            </Planet>
          )}
          {skill.name === "Tailwind CSS" && (
            <Planet class="size-10 from-sky-500">
              <Tailwind class="size-5" />
            </Planet>
          )}
          {skill.name === "shadcn/ui" && (
            <Planet class="size-10 from-zinc-400">
              <Shadcn class="size-5" />
            </Planet>
          )}
          {skill.name === "Convex" && (
            <Planet class="size-10 from-orange-600">
              <Convex class="size-7" />
            </Planet>
          )}
          {skill.name === "Stripe" && (
            <Planet class="size-10 from-indigo-500">
              <Image
                src={Stripe}
                alt="Stripe logo"
                class="aspect-square size-5 rounded-sm"
              />
            </Planet>
          )}
          {skill.name === "Clerk" && (
            <Planet class="size-10 from-zinc-400">
              <Image
                src={Clerk}
                alt="Clerk logo"
                class="aspect-square size-5 rounded-sm"
              />
            </Planet>
          )}
          {skill.name === "Vercel" && (
            <Planet class="size-10 from-zinc-400">
              <Vercel class="size-4 -translate-y-0.5" />
            </Planet>
          )}

          {skill.name === "Unreal Speech AI" && (
            <Planet class="size-10 from-zinc-400">
              <AI class="size-5" />
            </Planet>
          )}

          <div class="flex flex-grow flex-col">
            {/* <Skill label={skill.name} /> */}
            <h4 class="text-sm font-medium text-foreground">{skill.name}</h4>
            {skill.description && (
              <p class="text-xs text-muted-foreground">{skill.description}</p>
            )}
          </div>
        </li>
      ))
  }
</ul>
